/* général */

*
{
    font-family: 'raleway';
}

body
{
    width: 100%;
    margin:  auto;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

/* header */
header
{
    display: flex;
    justify-content:space-between;  
}

.logo
{
    height: 48px; 
    
}

#main-nav
{
    display: flex;
}

nav 
{
    display: inline-block;
    color: #0065FC;
}

.nav-link-host
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin-right: 65px;
    line-height: 100px;
    max-width: 97.188em;
}

.nav-link-activity
{
    text-decoration: none;
    color: #000000;
    line-height: 112px;
    margin-right: 65px; 
}

.nav-link-activity:hover 
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    line-height: 106px;
}

.signup
{
    color: #0065FC;
    font-weight: bold;
    line-height: 112px; 
}

.signup:hover
{
    border-top: 3px solid #0065FC;  
    line-height: 106px;
    
}

/* search */
.description-header
{      
    flex-wrap: wrap;
}

.search-header-title
{
    
}

.search-description-header
{
    font-weight: normal;
}
/* search */

/*barre de recherche*/
.search-bar
{
    display: flex;
    justify-content: start;
}

.icon-search
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.search-bar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;  
    height: 50px;
    max-width: 420px;
    
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
}

.submit
{   
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}
/*barre de recherche*/

 /*Filter search*/
.filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 1.875em;
}

.title-filter
{
    padding-right: 35px;
}

 .search-filter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
 }

 .search-title-filter
 {
    padding: 0 15px 0 15px;
 }

 .search-icon-filter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 /*Filter search*/

/*Result search*/
 .search-result
 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }


 .search-icon-result
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .search-text-result
 {
    padding-left: 10px;
 }

/*Result search*/

#main-host-and-popular
{
    display: flex;
    justify-content:space-around;        
    flex-wrap: wrap-reverse;     
}

/* Host */

.main-section-host
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;
    padding: 20px;    
    min-width:  380px; 
    flex: 66%;
}

.title-header-host
{
    margin: 15px;
}

.section-article-host
{        
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around;
}

/* article-host */

.article-host
{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33%;  
}

.figure-host
{       
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  
    height: 220px;   
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;   
}

.img-figure-host
{   
    object-fit:cover;
    min-height:65%; 
    border-radius: 15px 15px 0 0;      
}

.legend-host
{   
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: white;
    color:black;
    min-height: 35%;  
    margin-left: 10px;   
    border-radius: 15px; 
    position: relative;
}

.description-legend-host 
{
    margin: 3px 2px 2px 3px ; 
}

.price-description-legend-host
{
    margin: 2px 2px 2px 3px ; 
}

.rating
{    
    margin: 3px 3px 3px 3px ; 
    color:#0065FC;
    display: flex;
    align-content: start;
}

/* end article-host */

.view-more
{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 35px 0 0 35px;
}

.view-more:hover 
{
    display: flex;
    color:#0065FC;
    padding-bottom: 1px;
    border-bottom: 3px solid #0065FC;
    line-height: normal; 
    max-width: 96px;
}

/* End Host */

/* Popular */

.main-section-popular
{   
    min-width: 370px;
    background-color: #F2F2F2 ;
    border-radius: 15px;       
    margin-left: 1%;
    flex:30%;
}

.title-header-popular
{
   
    margin: 35px 0 35px 25px;
}

.icon-popular
{
    margin: 35px 35px 0px 0px;
    float: right;    
}

/*Article Popular*/

.article-popular
{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px ;
}

.figure-popular
{   
    margin: 0 auto 1.875em ;  
    display: flex;
    flex-flow: wrap;   
    cursor: pointer;  
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;    
}

.img-figure-popular
{    
    object-fit: cover;
    width: 145px; 
    height: 150px;
    border-radius: 15px 0 0 15px;
}

.legend-popular 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
}

.description-legend-popular
{
    margin: 10px 15px 0 20px;
}

.price-description-legend-popular
{
    margin: 5px 15px 0 20px;
}

.rating-popular
{
    color:#0065FC;
    display: flex;
    align-content: start;  
    position: absolute;
    top: 11.875em;
    left: 20px;
}

/* End Article Popular*/
/* End Popular */
@media screen and (min-width:1281px) 
{
    .price-description-legend-popular
    {
        font-size: 1em;
    }

    .main-section-popular
    {
        width: 100%;
        display: none;
    }
}



@media screen and (min-width:1025px) 
{
    .price-description-legend-popular
    {
        font-size: 1em;
    }

    .main-section-popular
    {
        width: 100%;
        display: none;
    }
}



@media screen and (min-width:801px) 
{
    .price-description-legend-popular
    {
        font-size: 1em;
    }

    .main-section-popular
    {
        width: 100%;
        display: none;
    }
}


@media screen and (min-width:600px) 
{
    .price-description-legend-popular
    {
        font-size: 1em;
    }

    .main-section-popular
    {
        width: 100%;
        
    }
}

@media screen and (min-width: 480px)
{
    .price-description-legend-popular
    {
        font-size: 1em;
    }

    .main-section-popular
    {
        width: 100%;
       
    }
}



@media only screen and (min-width:320px)
{
    body
    {
        width: 100%;
        margin: 0;
    }

    .figure-popular

    .main-section-popular
    {
        width: 100%;
        display: none;
    }

    .price-description-legend-popular
    {
        font-size: 2em;
    }
}





