/* général */

*
{
    font-size: 16px;
    font-family: 'raleway';
}

body
{
    width: 85%;
    margin:  auto;
     
}



ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}



/* header */
header
{
    display: flex;
    justify-content:space-between;
}

.logo
{
    height: 50px;     
}

nav ul li
{   
    display: inline-block;    
    color: black;
    text-decoration: none;
    margin-left: 65px;
}

.nav-link
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;
}

.nav-link:visited
{
    text-decoration: none;
    color: #000000;
}

.nav-link:hover 
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;   
}

.signup
{
    color: #0065FC;
    font-weight: bold;
}

.signup:hover
{
    border-top: 3px solid #0065FC;   
    line-height: 48px;  
}

/* search */
.description-header
{      
    flex-wrap: wrap;
}

.search-header-title
{
    font-size: 22px;
}

.search-description-header
{
 
}
/* search */


/*barre de recherche*/
.search-bar
{
    display: flex;
    justify-content: start;
}


.icon-search
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.search-bar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;  
    height: 50px;
    max-width: 420px;
    font-size: 17px;
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
}


.submit
{   
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}
/*barre de recherche*/

 /*Filter search*/
.filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title-filter
{
    padding-right: 35px;
}

 .search-filter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
 }

 .search-title-filter
 {
    padding: 0 15px 0 15px;
 }

 .search-icon-filter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 /*Filter search*/

/*Result search*/
 .search-result
 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }


 .search-icon-result
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .search-text-result
 {
    padding-left: 10px;
    font-size: 14px;
 }
/*Result search*/



.main-host-and-popular
{
    display: flex;
    justify-content:space-around;        
    flex-wrap: wrap-reverse;     
}


/* Host */


.main-section-host
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;

    padding: 20px;    
    
    min-width:  380px; 
    flex: 66%;
}




.title-header-host
{
    font-size: 20px;
    margin: 15px;
}


.section-article-host
{        
    
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around;
    
}


/* article-host */

.article-host
{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33%;  
}


.figure-host
{       
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  

    height: 220px;   


    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;   
}

.img-figure-host
{   
    object-fit:cover;
    min-height:65%; 
    border-radius: 15px 15px 0 0;      
}

.legend-host
{   
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: white;
    color:black;
    min-height: 35%;  
    margin-left: 10px;   
    border-radius: 15px; 
}

.description-legend-host, .rating
{
    margin: 3px 3px 3px 3px ; 
    
}

.price-description-legend-host
{
    margin: 3px 3px 3px 3px ; 
    
}

.rating
{    
    margin: 3px 3px 3px 3px ; 
    color:#0065FC;
    display: flex;
    align-content: start;
    
}

/* end article-host */

.view-more
{
    display: flex;
    align-content: left;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 15px;
}


.view-more:hover 
{
    display: flex;
    color:#0065FC;
    padding-bottom: 1px;
    border-bottom: 3px solid #0065FC;
    line-height: normal; 
    max-width: 96px;
    align-content: left;
    
}

/* End Host */


/* Popular */

.main-section-popular
{   
    min-width: 370px;
    background-color: #F2F2F2 ;
    border-radius: 15px;       
    margin-bottom: 2%; 
    flex:30%;
    margin-left: 1%;
}


.icon-popular
{
    
    float: right;    
}


/*Article Popular*/


.article-popular
{
    margin: 0 auto;
    width: 90%;
    
}




.figure-popular
{   
    margin: 0 auto 30px ;  
    display: flex;
    flex-flow: wrap;   
    cursor: pointer;  
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;   
    
}

.img-figure-popular
{    
    object-fit: cover;
    width: 145px; 
    height: 150px;
    border-radius: 15px 0 0 15px;
}

.legend-popular 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    font-size: 16px;
   
}

.description-legend-popular
{
    margin: 15px 15px 0 15px;
}

.price-description-legend-popular
{
    margin: 5px 15px 0 15px;
}

.rating-popular
{
    
    color:#0065FC;
    display: flex;
    align-content: start;  
    margin: 45px 0 0 15px; 
}

/* End Article Popular*/
/* End Popular */


@media (max-width: 1590px) 
{
    body
    {
       width: 80%;
       
    }


    .section-article-host
    {
        
        flex-wrap: wrap;
    }
    
    .article-host
    {
        flex: 50%;
    }
    
    .figure-host
    {   
        flex: 50%;
        height: 250px;
    }


    .section-article-popular
    {
       justify-content: space-around;
       display: flex;
       flex-wrap: column;
    }
    
    .article-popular
    {
        margin: 10px 10px 10px 10px ;  
        width:33%;
    }
}

@media (max-width: 1375px) 
{

    .section-article-popular
    {
        display: flex;
        flex-wrap: wrap;
    }

    .article-popular
    {
        width: 90%;
        margin: 0 ;  
        padding: 5px;
    }
}
  
 




@media (max-width: 740px)
{
    body
    {
        width: 100%;
    }
    
    
    .main-section-popular
    {
        border-radius: 0px;
    }
    
    .main-section-host
    {
        background-color: white;
        
    }
    
    .section-article-host
    {
        
        flex-wrap: column;
    }
    
    .article-host
    {
        margin: 1px 0px 20px 0px ;  
        flex: 100%;
    }
    
    .figure-host
    {   
        margin: 0 auto;
        width: 90%;
        height: 200px;
    
    }
    
    .img-figure-host
    {   
        object-fit:cover;
        min-height: 65%; 

    }
    
    .legend-host
    {   
        background-color: white;
        color:black;
        min-height: 35%;       
    }
    
    .description-legend-host
    {
        font-size: 120%
    }
    
    .price-description-legend-host
    {
        font-size: 120%;
    }
    
    
    .rating
    {
        font-size: 100%;
    }
    
    .figure-host
    {
        border-radius: 15px;
    }
    
    .img-figure-host
    {
        border-radius: 15px 15px 0px 0px;
    }
    
    .legend-host
    {
        border-radius: 15px ;
    }
}




@media (device-width: 740px)
{
    
        body
    {
        margin: 0 auto;
        width: 100%;
    }


    .main-section-popular
    {
        margin: 0 auto;
        border-radius: 0px;
    }

    .main-section-host
    {
        margin: 0 auto;
        background-color: white;
    }

    .section-article-host
    {
        margin: 0 auto;
        flex-wrap: column;
    }

    .article-host
    {
        margin: 0 auto;
        flex: 100%;
    }

    .figure-host
    {   
        flex: 100%;
        height: 450px;

    }

    .img-figure-host
    {   
        object-fit:cover;
        min-height: 70%; 
        
        
    }

    .legend-host
    {   
        background-color: white;
        color:black;
        min-height: 30%;       
    }

    .description-legend-host
    {
        font-size: 250%
    }

    .price-description-legend-host
    {
        font-size: 200%;
    }


    .rating
    {
        font-size: 250%;
    }

    .figure-host
    {
        border-radius: 50px;
    }

    .img-figure-host
    {
        border-radius: 50px 50px 0px 0px;
    }

    .legend-host
    {
        border-radius: 50px ;
    }

}