/* général */

*
{
    font-size: 1em;
    font-family: 'raleway';
}

body
{
   max-width: 1450px;
   margin: 0 auto;
}



ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.main-site
{
    padding: 0px 50px 0px 50px;
}


/* header */
header
{
    display: flex;
    justify-content:space-between;
}

.logo
{
    height: 48px; 
}

#main-nav
{
    display: flex;
}

nav 
{
    display: inline-block;
    color: #0065FC;
}

.nav-link-host
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin-right: 65px;
    line-height: 100px;
    
}



.nav-link-activity
{
    text-decoration: none;
    color: #000000;
    line-height: 106px;
    margin-right: 65px;
}

.nav-link-activity:hover 
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    line-height: 101px;
}

.signup
{
    color: #0065FC;
    font-weight: bold;
    line-height: 106px;
}

.signup:hover
{
    border-top: 3px solid #0065FC;  
    line-height: 101px;
    
}

/* search */
.description-header
{      
    flex-wrap: wrap;
}

.search-header-title
{
    
}

.search-description-header
{
    font-weight: normal;
}
/* search */


/*barre de recherche*/
.search-bar
{
    display: flex;
    justify-content: start;
}


.icon-search
{
    height: 54px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.search-bar input[type=text] 
{
    height: 50px;
    max-width: 420px;  
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
    padding-left: 20px;
}


.submit
{   
    height: 54px;
    
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
    padding: 0px 20px 0px 20px;
}


.glass
{
    display: none;
}
/*barre de recherche*/

 /*Filter search*/
.filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title-filter
{
   
}

 .search-filter
 {
    margin-left: 15px;
    display: flex;
    align-items: center; 
    border: 2px solid #d9d9d9;
    border-radius: 32px; 
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
 }

 .search-title-filter
 {
    padding: 0 15px 0 15px;
 }

 .search-icon-filter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }
 /*Filter search*/

/*Result search*/
 .search-result
 {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 32px;  
    margin-right: 32px;
    margin-bottom: 16px;
 }


 .search-icon-result
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .search-text-result
 {
    margin-left: 10px;
 }



/*Result search*/



#main-host-and-popular
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}


/* Host */


.main-section-host
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;
    min-width:  350px; 
    flex: 66%; 
    margin-right: 1%;
}




.title-header-host
{
    margin: 40px 0px 0px 40px;
}


.section-article-host
{           
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around; 
    padding: 20px 15px 25px 25px;
}


/* article-host */

.article-host
{
    flex: 1;
    width: 290px; 
}


.figure-host
{       
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  
    height: 220px;   
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.img-figure-host
{   
    object-fit:cover;
    min-height:65%; 
    border-radius: 15px 15px 0 0;   
}

.legend-host
{   
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: white;
    color:black;
    min-height: 35%;     
    border-radius: 15px; 
}

.description-legend-host 
{
    margin: 5px 0px 5px 15px;
}

.price-description-legend-host
{
    margin: 0px 0px 5px 15px;
}

.rating
{      
    color:#0065FC;
    display: flex;
    align-content: start;
    margin: 0px 0px 0px 15px;
}

/* end article-host */

.view-more
{
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: black; 
    margin: 10px 15px 25px 45px;
}


.view-more:hover 
{
    display: flex;
    color:#0065FC;
    border-bottom: 3px solid #0065FC;
    line-height: normal; 
    max-width: 96px;  
}

/* End Host */


/* Popular */

.main-section-popular
{   
    min-width: 370px;
    background-color: #F2F2F2 ;
    border-radius: 15px;       
    margin-left: 1%;
    flex: 30%;
    min-width: 400px; 
    margin: 0 auto;
}



.title-header-popular
{
    margin: 40px 0px 0px 40px;
}

.icon-popular
{
    float: right;  
    margin: 40px 40px 0px 0px;
}


/*Article Popular*/


.article-popular
{
   margin-bottom: 40px;
   min-width: 340px; 
}

.section-article-popular
 {
    margin: 40px;
 }


.figure-popular
{   
    margin: 15px 5px 15px 0px ;  
    display: flex;
    flex-flow: wrap;   
    cursor: pointer;  
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;   
    min-width: 300px; 
}

.img-figure-popular
{    
    object-fit: cover;
    width: 145px; 
    height: 150px;
    border-radius: 15px 0 0 15px;
}

.legend-popular 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    position: relative;
}

.description-legend-popular
{
    margin: 15px 0px 0px 15px;
}

.price-description-legend-popular
{
    margin: 0px 0px 0px 15px;
}

.rating-popular
{
    color:#0065FC;
    display: flex;
    align-content: start;  
    position: absolute;
    top: 130px;
    left: 20px;
}

/* End Article Popular*/
/* End Popular */

/*Activity */
.main-section-activity
{          
    background-color: white ;
    border-radius: 15px;
    
}

.title-header-activity
{
    margin: 40px 0px 0px 40px;
}


.section-article-activity
{           
    display: flex;    
    justify-content: space-between;
    flex-wrap: wrap;
    

}

    
.article-activity-1,  .article-activity-4
{
    width: 330px; 
    
}

.article-activity-2, .article-activity-3
{
    width: 330px; 
   
}

.article-activity-5, .article-activity-6
{
    width: 330px; 

}

.article-activity-2, .article-activity-5
{
   
}


.figure-activity-1,  .figure-activity-4
{       
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  
    height: 450px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.figure-activity-2, .figure-activity-3
{
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  
    
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.figure-activity-2
{
    height: 250px;
    margin-bottom: 50px;
}

.figure-activity-3

{
    height: 150px;
}

.figure-activity-5, .figure-activity-6
{
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  
    height: 200px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.figure-activity-5
{
   margin-bottom: 50px;
}


.img-figure-activity-1, .img-figure-activity-4 
{   
    object-fit:cover;
    height: 400px;
    border-radius: 15px 15px 0 0;   
    width: 100%; 
}

.img-figure-activity-2
{
    object-fit:cover;
    height: 200px;
    border-radius: 15px 15px 0 0; 
    width: 100%; 
}

.img-figure-activity-3
{
    object-fit:cover;
    height: 100px;
    border-radius: 15px 15px 0 0; 
    width: 100%; 
}

.img-figure-activity-4
{
    object-fit:cover;
   
    border-radius: 15px 15px 0 0; 
    width: 100%; 
}



.img-figure-activity-5, .img-figure-activity-6
{
    object-fit:cover;
    height: 150px;
    border-radius: 15px 15px 0 0; 
    width: 100%; 
}

.legend-activity
{   
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: white;
    color:black;
    height: 50px;
  
    border-radius: 15px; 
}

.description-legend-activity
{
    margin: 5px 0px 5px 15px;
}



  


/* end article-activity */

.main-about
 {
     display: flex;
     
     background-color:#F2F2F2;
     flex-wrap: wrap;
     
     justify-content: space-between;
     padding-right: 350px;
     flex: 1;
 }


 .about-ul
{
  
   
}


@media (max-width: 1550px) 
{
    .main-section-popular
    {
       
       
    }

    .section-article-popular
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .article-popular
    {
        width: 90%;
        margin: 0 ;  
        padding: 5px;
    }

    .article-host
    {
        width: 330px;
    }

    .figure-host
    {
        min-width: 310px;
    }

    .img-figure-popular
    {
        width: 50%; 
        height: 150px;
    }

    .main-section-host
    {
        margin: 0;
    }

    .main-section-host
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;
    min-width:  350px; 
    width: 100%;
    margin-right: 0;
    margin-top: 1%;
}

.main-section-popular
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;
    min-width:  350px; 
    flex: 100%;
    margin-right: 0;
    margin-top: 1%;
}






.main-section-activity
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;
    min-width:  350px; 
    flex: 100%; 
    margin-right: 1%;
}




.title-header-activity
{
    margin: 40px 0px 0px 40px;
}


.section-article-activity
{           
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around; 
    padding: 20px 15px 25px 25px;
}




.article-activity-1, .article-activity-2, .article-activity-3, .article-activity-4, .article-activity-5, .article-activity-6
{
    flex: 1;
    width: 290px; 

    height: 100%;
}


.figure-activity-1, .figure-activity-2, .figure-activity-3, .figure-activity-4, .figure-activity-5, .figure-activity-6
{       
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  
   
    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
}

.img-figure-activity-1, .img-figure-activity-2,.img-figure-activity-3, .img-figure-activity-4, .img-figure-activity-5, .img-figure-activity-6
{   
    object-fit:cover;
    min-height:65%; 
    border-radius: 15px 15px 0 0;   
}

.legend-activity
{   
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: white;
    color:black;
    min-height: 35%;     
    border-radius: 15px; 
}

.description-legend-activity
{
    margin: 5px 0px 5px 15px;
}
}




@media only screen and (max-width:500px)
{

    body
    {
       width: 100%;
        
    }

    .main-site
    {
    padding: 0px;
    }

    .logo  
    {
       margin: 20px;
        
    }


    header
    {
        display: flex;
        flex-wrap: wrap;
    }

    .logo-signup

    {
        
    }

    .signup
    {
        font-weight: bold;
        font-size: 1em;
        color: #0065FC;
        font-weight: bold;
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: 50px;
        margin-right: 30px;
        line-height: 20px;
        
    }   

    .signup:hover
    {
        border-top: 0px;
        border-bottom: 3px solid #0065FC;  
        line-height: 20px;
    }

    #main-nav
    {
     
      width: 100%;
      
    }

    .nav-link-host
    {
    color: #0065FC;
    border-top: none;
    border-bottom: 4px solid #0065FC ;
    margin-right: 0px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    width: 50%;
    line-height: 50px;
    }

    .nav-link-activity
    {
        color: black;
        border-top: none;
        border-bottom: 4px solid #f0f0f0 ;
        margin-right: 0px;
        text-align: center;
        font-size: 1em;
        width: 50%;
        line-height: 50px;
    }

    .nav-link-activity:hover 
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 4px solid #0065FC;
        line-height: 50px;
    }

    .search-bar
    {
        
        display: flex;
        justify-content: start;
     
    }
    
    .icon-search
    {
        margin-left: 20px;
        width: 54px;
        height: 54px;
        background-color: #F2F2F2;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
    }
    
    form.search-bar input[type=text] 
    {
        height: 48px;
        font-size: 1em;
        justify-content: start;
        border: 1px solid #F2F2F2;  
        border-right: none;
        border-left: none;
        background: #ffffff;
        font-weight: bold;

    }
    
    .submit
{  
    display: none;
}

.glass
{   
    display: block;
    height: 54px;
    width: 54px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
    padding: 0px 20px 0px 20px;
}

.search-header-title
{
    margin-top: 20px;
    margin-left: 20px;
}

.search-description-header
{
    margin-left: 20px;
}

.search-result
{
    
}

.search-icon-result
{
    margin-left: 20px;
}

.search-text-result
{
    font-size: 0.8em;
   
}

.title-filter
{
    font-size: 1em;
    margin-left: 20px;
}



    .title-header-popular
    {
        font-size: 1em;
    }

    .icon-popular
    {
        size: 100px;
    }


    .main-section-popular
    {
        border-radius: 0px;
        width: 100%;
        
        justify-content: space-around;
    }

    .section-popular
    {
        
     
    }

    .section-article-popular
    {
        
    }
   
    .article-popular
    {
        margin: 0px -5px 5px -5px ;
        width: 100%;
    }

    .figure-popular
    {
        margin: 0px -5px 5px -5px ;
        width: 100%;
    }
    
   

    .main-section-host
    {
        background-color: white ;
        
    }

    .title-header-host
    {
        font-size: 1em;
    }

    .section-article-host
    {
        flex-wrap: wrap;
      
        
    }

    .article-host
    {
        margin: 0px -15px -15px -20px ;
        min-width: 100%;
    
    }

    .figure-host
    {   
        height: 200px;
        border-radius: 15px;
      
    }
 
    .img-figure-host
    {   
        object-fit:cover;
        min-height: 70%; 
        border-radius: 15px 15px 0px 0px;
    }

    .legend-host
    {   
        background-color: white;
        color:black;
        min-height: 30%;  
        border-radius: 30px ;     
    }

    .description-legend-host
    {
       
    }

    .price-description-legend-host
    {
        
    }

    .rating
    {
       
    }

    .Price
    {
      
    }

    .main-about
    {
        flex-flow: column;
        padding: 0;
        text-align: center;
    }
}

