/* général */

*
{
    font-family: 'raleway';
    font-size: 16px;
}

body
{
    width: 85%;
    margin: 0 auto;
}



ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}



/* header */
header
{
    display: flex;
    justify-content:space-between;
}

.logo
{
    height: 50px;     
}

nav ul li
{   
    display: inline-block;    
    color: black;
    text-decoration: none;
    margin-left: 65px;
}

.nav-link
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;
}

.nav-link:visited
{
    text-decoration: none;
    color: #000000;
}

.nav-link:hover 
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;   
}

.signup
{
    color: #0065FC;
    font-weight: bold;
}

.signup:hover
{
    border-top: 3px solid #0065FC;   
    line-height: 48px;  
}

/* search */
.description-header
{      
    flex-wrap: wrap;
}

.search-header-title
{
    font-size: 22px;
}

.search-description-header
{
 
}
/* search */


/*barre de recherche*/
.search-bar
{
    display: flex;
    justify-content: start;
}


.icon-search
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.search-bar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;  
    height: 50px;
    max-width: 420px;
    font-size: 17px;
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
}


.submit
{   
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}
/*barre de recherche*/

 /*Filter search*/
.filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title-filter
{
    padding-right: 35px;
}

 .search-filter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
 }

 .search-title-filter
 {
    padding: 0 15px 0 15px;
 }

 .search-icon-filter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 /*Filter search*/

/*Result search*/
 .search-result
 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }


 .search-icon-result
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .search-text-result
 {
    padding-left: 10px;
    font-size: 14px;
 }
/*Result search*/



.main-host-and-popular
{
    display: flex;
    justify-content:space-between;        
    flex-wrap: wrap-reverse;     
}


/*Article Host*/


.main-section-host
{
    width: 67%;     
    background-color: #F2F2F2 ;
    border-radius: 15px;      
    margin-bottom: 2%;  
    min-width:  380px;  
}

.header-host
{
    margin: 10px 0 0 40px;
}

.title-header-host
{
    font-size: 20px;
}


.section-article-host
{    
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}


.article-host
{
    padding: 0;    
    min-width: 33%;
}


.figure-host
{   
    display: flex;
    flex-flow: column;   
    cursor: pointer;   
    min-width: 80%;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    height: 200px;   
}

.img-figure-host
{    
    object-fit: cover;
    height: 60%; 
    border-radius: 15px 15px 0 0;   
}

.legend-host
{   
    background-color: white;
    color:black;
    height: 40%;   
    flex: 1;    
}

.description-legend-host, .rating
{
    margin: 5px 12px 4px 12px;
}

.price-description-legend-host
{
    margin: 5px 12px 8px 12px;
    font-size: 14px;
}

.view-more

{
    display: flex;
    margin: 20px 0 30px 40px;
    align-content: left;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.view-more:hover 
{
    display: flex;
    color:#0065FC;
    padding-bottom: 1px;
    border-bottom: 3px solid #0065FC;
    line-height: normal; 
    max-width: 96px;
    align-content: left;
}


/*Article Popular*/


.main-section-popular
{
    width: 32%; 
    min-width: 370px;
    background-color: #F2F2F2 ;
    border-radius: 15px;   
    display: flex;    
    justify-content: space-around; 
    margin-bottom: 2%; 
    
}

.header-popular
{
    margin: 10px 0 0 40px;
}

.title-header-popular
{
    font-size: 20px;
}

.icon-popular
{
    padding: 30px 30px 0px 0px;
    float: right;    
}


.figure-popular
{   
    display: flex;
    flex-flow: wrap;   
    cursor: pointer;       
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;        
}

.img-figure-popular
{    
    object-fit: cover;
    width: 130px; 
    height: 135px;
    border-radius: 15px 0 0 15px;
}

.legend-popular 
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.description-legend-popular 
{
    
}

.price-description-legend-popular
{
    font-size: 14px;   
}


.rating-popular
{
    color:#0065FC;
    display: flex;
    align-content: start;   
}

.rating
{    
    color:#0065FC;
    display: flex;
    align-content: start;
}


@media (max-width: 1400px) 
{
    .body
    {
       max-width: 100%;
    margin: 0%;
    padding: 0%;
    }

  .main-section-popular
  {
    min-width: 100%;
  }

  .section-article-popular
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

  .article-popular
  {
      max-width: 450px;
      min-width: 400px;
      flex: 1;
  }


  .main-section-host
  {
    min-width: 100%;
  }
  .article-host
  {
    max-width: 450px;
    min-width: 400px;
    flex: 1;
  }
}



@media (max-width: 600px) 
{
    .body
    {
       max-width: 100%;
    margin: 0%;
    padding: 0%;
    }

  .main-section-popular
  {
    min-width: 100%;
  }

  .section-article-popular
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }

  .article-popular
  {
      max-width: 450px;
      min-width: 400px;
      flex: 1;
  }


  .main-section-host
  {
    min-width: 100%;
  }
  .article-host
  {
    max-width: 450px;
    min-width: 400px;
    flex: 1;
  }
}





