/* général */

*
{
    font-family: 'raleway';
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
}

body
{
    padding: 15px;
    margin: 0 auto;
}

.wrapper
{
    max-width: 1340px;   
    margin: 0 auto;     
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.NavLink:visited
{
    text-decoration: none;
    color: #000000;
}

/* header */
header
{
    display: flex;
    justify-content:space-between;
}

.logo
{
    height: 50px;     
}

nav
{
    
    
}

nav ul li
{   
    display: inline-block;    
    color: black;
    text-decoration: none;
    margin-left: 65px;
}

.NavLink[data-active=true] 
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;
}

.NavLink:hover 
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;   
}

.Signup
{
    color: #0065FC;
    font-weight: bold;
}

.Signup:hover
{
    border-top: 3px solid #0065FC;   
    line-height: 48px;  
}

/* search */
.descriptionHeader
{      
    flex-wrap: wrap;
}

.searchHeaderTitle
{
    font-size: 22px;
}

.searchHeaderDescription
{
 
}
/* search */


/*barre de recherche*/
.searchBar
{
    display: flex;
    justify-content: start;
}


.iconSearch
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    padding: 16px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.searchBar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;  
    height: 50px;
    max-width: 420px;
    font-size: 17px;
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
}


.submit
{   
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}
/*barre de recherche*/

 /*Filter search*/
.Filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 30px;
}

.FiltersTitle
{
    padding-right: 35px;
}

 .searchFilter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
 }

 .searchFilterTitle
 {
    padding: 0 15px 0 15px;
 }

 .iconSearchFilter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 /*Filter search*/

/*Result search*/
 .searchResult
 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }


 .iconSearchResult
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .searchResultText
 {
    padding-left: 10px;
    font-size: 14px;
 }
/*Result search*/


/* host et populaire */
.hostAndPopular
{
    display: flex;
    justify-content:space-between;
    
    max-width: 1340px;    
    margin: 0 auto;
    padding: 0;
}



 /* Host Popular */
 .PopularTitleHeader
 {
    display: inline-block;
    margin: 20px auto auto 30px;   
 }

 .wrapperPopular
 {
    width: 33%;
    height: 600px;    
    background-color: #F2F2F2 ;
    border-radius: 15px;
 }

 /* Host Main */
 .hostTitleHeader
{
    margin: 20px auto auto 30px;  
}

.wrapperHost
{
    width: 65%;
    height: 600px;    
    background-color: #F2F2F2 ;
    border-radius: 15px;

}

.subWrapperHost
{ 
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 3fr 3fr;
   
}

/*article*/

.articleHost
{ 
    align-content: center;
  }



.figureHost
{
    background-color: white;
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
    height: 90%;
    width: 90%;
    
}

.imgFigureHost
{  
 height: 7rem;
object-fit: cover;
max-width: 90%;
width: 90%;
max-height: 90%;
border-radius: 1rem 1rem 0 0;
}

.legendHost
{
  
}




