/* général */

*
{
    
    font-family: 'raleway';
}

body
{
    width: 80%;
    margin: 0 auto;
}



ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}



/* header */
header
{
    display: flex;
    justify-content:space-between;
    
}

.logo
{
    height: 48px; 
    padding-top: 20px;
}

#main-nav
{
    display: flex;
}

nav 
{
    display: inline-block;
    color: #0065FC;
}

.nav-link-host
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin-right: 65px;
    line-height: 100px;
    max-width: 1555px;
}



.nav-link-activity
{
    text-decoration: none;
    color: #000000;
    line-height: 112px;
    margin-right: 65px; 
}

.nav-link-activity:hover 
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    line-height: 106px;
}

.signup
{
    color: #0065FC;
    font-weight: bold;
    line-height: 112px; 
}

.signup:hover
{
    border-top: 3px solid #0065FC;  
    line-height: 106px;
    
}

/* search */
.description-header
{      
    flex-wrap: wrap;
}

.search-header-title
{
    font-size: 1.2em;
}

.search-description-header
{
    font-weight: normal;
    font-size: 1.2em;
}
/* search */


/*barre de recherche*/
.search-bar
{
    display: flex;
    justify-content: start;
}


.icon-search
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.search-bar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;  
    height: 50px;
    max-width: 420px;
    font-size: 17px;
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
}


.submit
{   
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}
/*barre de recherche*/

 /*Filter search*/
.filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title-filter
{
    padding-right: 35px;
}

 .search-filter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
 }

 .search-title-filter
 {
    padding: 0 15px 0 15px;
 }

 .search-icon-filter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 /*Filter search*/

/*Result search*/
 .search-result
 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }


 .search-icon-result
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .search-text-result
 {
    padding-left: 10px;
    font-size: 14px;
 }



/*Result search*/



#main-host-and-popular
{
    display: flex;
    justify-content:space-around;        
    flex-wrap: wrap-reverse;     
}


/* Host */


.main-section-host
{          
    background-color: #F2F2F2 ;
    border-radius: 15px;

    padding: 20px;    
    
    min-width:  380px; 
    flex: 66%;
}




.title-header-host
{
    font-size: 20px;
    margin: 15px;
}


.section-article-host
{        
    
    display: flex;    
    flex-wrap: wrap;
    justify-content:space-around;
    
}


/* article-host */

.article-host
{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33%;  
}


.figure-host
{       
    margin: 15px 15px 15px 15px ;  
    display: flex;
    flex-flow: column;   
    cursor: pointer;  

    height: 220px;   

    padding: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;   
}

.img-figure-host
{   
    object-fit:cover;
    min-height:65%; 
    border-radius: 15px 15px 0 0;      
}

.legend-host
{   
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: white;
    color:black;
    min-height: 35%;  
    margin-left: 10px;   
    border-radius: 15px; 
    position: relative;
}

.description-legend-host 
{
    margin: 3px 2px 2px 3px ; 
    
}

.price-description-legend-host
{
    margin: 2px 2px 2px 3px ; 
    
}

.rating
{    
    margin: 3px 3px 3px 3px ; 
    color:#0065FC;
    display: flex;
    align-content: start;
}

/* end article-host */

.view-more
{
    display: flex;
    
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin: 35px 0 0 35px;
}


.view-more:hover 
{
    display: flex;
    color:#0065FC;
    padding-bottom: 1px;
    border-bottom: 3px solid #0065FC;
    line-height: normal; 
    max-width: 96px;
    
}

/* End Host */


/* Popular */

.main-section-popular
{   
    min-width: 370px;
    background-color: #F2F2F2 ;
    border-radius: 15px;       
    margin-left: 1%;
    flex:30%;

}



.title-header-popular
{
    font-size: 20px;
    margin: 35px 0 35px 25px;
}

.icon-popular
{
    margin: 35px 35px 0px 0px;
    float: right;    
}


/*Article Popular*/


.article-popular
{
    margin: 0 auto;
    width: 90%;
    margin-bottom: 50px ;
   
}




.figure-popular
{   
    margin: 0 auto 30px ;  
    display: flex;
    flex-flow: wrap;   
    cursor: pointer;  
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;   
    
}

.img-figure-popular
{    
    object-fit: cover;
    width: 145px; 
    height: 150px;
    border-radius: 15px 0 0 15px;
}

.legend-popular 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    font-size: 16px;
    position: relative;
}

.description-legend-popular
{
    margin: 10px 15px 0 20px;
}

.price-description-legend-popular
{
    margin: 5px 15px 0 20px;
}

.rating-popular
{
    
    color:#0065FC;
    display: flex;
    align-content: start;  
    position: absolute;
    top: 130px;
    left: 20px;
}

/* End Article Popular*/
/* End Popular */


@media (max-width: 1650px) 
{
    body
    {
       width: 80%;
    }

    .main-section-host
    {   
   
    margin: 0px 1% 1% 1%;
    }


    .section-article-host
    {
        flex-wrap: wrap;
    }
    
    .article-host
    {
        flex: 50%;
    }
    
    .figure-host
    {   
        flex: 50%;
        height: 250px;
    }

    .main-section-popular
    {   
   
    margin: 0px 1% 1% 1%;
    }


    .section-article-popular
    {
       justify-content: space-around;
       display: flex;
       flex-flow: column;
    }
    


    .article-popular
    {
        margin: 10px 10px 10px 10px ;  
        width:30%;
    }
}

@media (max-width: 1375px) 
{

    .section-article-popular
    {
        display: flex;
        flex-wrap: wrap;
    }

    .article-popular
    {
        width: 90%;
        margin: 0 ;  
        padding: 5px;
    }

    .img-figure-popular
    {
        width: 50%; 
        height: 150px;
    }
}

@media (min-width: 925px) /* FullScreen Desktop HD */
{
    .main-section-host
  {
    
  }

  .description-legend-host
  {
     
  }

}

@media (max-width: 1000px) /* mobile */
{
    *
    {
        font-size: 1em;
    }

        body
    {
        width: 100%;
    }

    .logo  
    {
        height: 100px; 
        padding: 50px 0 0 50px;
        padding-bottom: 50px;
    }


    header
    {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .logo-signup

    {
        
    }

    .signup
    {
        font-weight: bold;
        font-size: 1.7em;
        color: #0065FC;
        font-weight: bold;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 50px 50px 50px 0px;
    }   

    .signup:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;  
    }

    #main-nav
    {
        width: 100%;
    }

    .nav-link-host
    {
    flex: 50%;
    color: #0065FC;
    border-top: none;
    border-bottom: 6px solid #0065FC ;
    margin-right: 0px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    }

    .nav-link-activity
    {
        flex: 50%;
        color: black;
        border-top: none;
        border-bottom: 6px solid #f0f0f0 ;
        margin-right: 0px;
        text-align: center;
        font-size: 1.5em;
        
    }

    .nav-link-activity:hover 
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 6px solid #0065FC;
    }


    .filters
    {
        padding: 0 0 40px 40px;
    }

    .title-header-popular
    {
        font-size: 2em;
        margin: 40px 0px 0px 40px;
    }

   .main-section-popular
    {
        border-radius: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .icon-popular
    {
        margin: 40px 40px 0px 0px;
        size: 100px;
    }

    .section-article-popular
    {
        margin: 0 auto;
        width: 100%;
    }

   
    .article-popular
    {
        flex: 100%;
    }

    .figure-popular
    {   
        width: 90%;
        height: 350px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
 
    .img-figure-popular
    {    
        object-fit: cover;
        width: 40%; 
        height: 100%;
        border-radius: 30px 0 0 30px;
    }

    .legend-popular 
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        font-size: 16px;
    }

    .description-legend-popular
    {
        margin: 20px 30px 0 20px;
        font-size: 2em;
    }

    .price-description-legend-popular
    {
        margin: 30px 30px 0 30px;
        font-size: 2em;
    }

    .rating-popular
    {
        color:#0065FC;
        display: flex;
        align-content: start;  
        margin: 45px 0 0 15px; 
        font-size: 2em;
    }

    .main-section-host
    {
        background-color: white;
        margin: 0 auto;
    }

    .title-header-host
    {
        font-size: 2em;
        margin: 40px 0px 0px 40px;
    }

    .section-article-host
    {
        flex-wrap: column;
        margin: 0 auto;
    }

    .article-host
    {
        flex: 100%;    
    }

    .figure-host
    {   
        width: 90%;
        height: 400px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
 
    .img-figure-host
    {   
        object-fit:cover;
        min-height: 70%; 
        border-radius: 30px 30px 0px 0px;
    }

    .legend-host
    {   
        background-color: white;
        color:black;
        min-height: 30%;  
        border-radius: 30px ;     
    }

    .description-legend-host
    {
        font-size: 5em;
    }

    .price-description-legend-host
    {
        font-size: 1em;
    }

    .rating
    {
        font-size: 1em;
    }

    .Price
    {
        font-size: 1em;
    }
 /* searchbar */

    .search-bar
    {
        display: flex;
        justify-content: start;
        margin: 0px 0px 0px 40px;
        width: 100%;
    }
    
    
    .icon-search
    {
        height: 100px;
        width: 100px;
        background-color: #F2F2F2;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    
    form.search-bar input[type=text] 
    {
        height: 90px;
        width: 100%;
        margin: 0 0 0 0px;
        font-size: 1em;
        justify-content: start;
        border: 5px solid #F2F2F2;  
        border-right: none;
        border-left: none;
        background: #ffffff;
        font-weight: bold;
    }
    
    .submit
{   
    height: 100px;
    width: 100px;
    margin: 0 0 0 0px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; 
    border: none;
    border-radius: 25px;    
}

.search-result
{
   margin: 0 0 35px 35px;
   
}

.search-icon-result
{
    margin: 0px 20px 0 0;
}

.search-text-result
{
    font-size: 1.5em;
    margin: 0;
}

.search-header-title
{
    font-size: 2em;
}
.search-description-header
{
    font-size: 1.6em;
    margin: 0;
}

.title-filter
{
    font-size: 1em;
}

.search-filter
{
   display: flex;
   align-items: center;
   margin-right: 35px;
   border: 2px solid #d9d9d9;
   border-radius: 50px;
   margin-bottom: 16px;
   cursor: pointer;
   font-weight: bold;
}

.search-title-filter
{
   padding: 0 25px 0 25px;
}

.search-icon-filter
{
   background-color: #DEEBFF;
   color: #0065FC;
   border-radius: 100%;
   height: 90px;
   width: 90px;
   min-height: 35px;
   min-width: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
}
 /* end searchbar */
}
/* End mobile */



@media (max-width: 480px) /* Dekstop reduit */
{
    
        body
    {
        width: 100%;
    }

    .logo  
    {
        height: 50px; 
        padding: 20px 0 0 50px;
        padding-bottom: 50px;
    }

    header
    {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .logo-signup

    {
        
    }

    .signup
    {
        font-weight: bold;
        font-size: 1em;
        color: #0065FC;
        font-weight: bold;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 20px 20px 20px 0px;
    }   

    .signup:hover
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;  
    }

    #main-nav
    {
        width: 100%;
    }

    .nav-link-host
    {
    flex: 50%;
    color: #0065FC;
    border-top: none;
    border-bottom: 6px solid #0065FC ;
    margin-right: 0px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    }

    .nav-link-activity
    {
        flex: 50%;
        color: black;
        border-top: none;
        border-bottom: 6px solid #f0f0f0 ;
        margin-right: 0px;
        text-align: center;
        font-size: 1.5em;
        
    }

    .nav-link-activity:hover 
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 6px solid #0065FC;
    }

    .filters
    {
        padding: 0 0 40px 40px;
    }

    .title-header-popular
    {
        font-size: 2em;
        margin: 40px 0px 0px 40px;
    }

    .main-section-popular
    {
        border-radius: 0px;
        margin: 0 auto;
        width: 100%;
    }

    .icon-popular
    {
        margin: 40px 40px 0px 0px;
        size: 100px;
    }

    .section-article-popular
    {
        margin: 0 auto;
        width: 100%;
    }

   
    .article-popular
    {
        flex: 100%;
    }

    .figure-popular
    {   
        width: 90%;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    .img-figure-popular
    {    
        object-fit: cover;
        width: 40%; 
        height: 200px;
        border-radius: 30px 0 0 30px;
    }

    .legend-popular 
    {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 250px;
        font-size: 16px;
    }

    .description-legend-popular
    {
        padding: 20px 0px 0px 20px;
        font-size: 1em;
    }

    .price-description-legend-popular
    {
        margin: 0px 0px 0px 20px;
        font-size: 1em;
    }

    .rating-popular
    {
        color:#0065FC;
        display: flex;
        align-content: start;  
        margin: 20; 
        font-size: 1em;
    }

    .main-section-host
    {
        background-color: white;
        margin: 0 auto;
    }

    .title-header-host
    {
        font-size: 2em;
        margin: 40px 0px 0px 40px;
    }

    .section-article-host
    {
        flex-wrap: column;
        margin: 0 auto;
    }

    .article-host
    {
        flex: 100%;    
    }

    .figure-host
    {   
        width: 90%;
        height: 400px;
        margin-bottom: 20px;
        border-radius: 30px;
    }

    .img-figure-host
    {   
        object-fit:cover;
        min-height: 70%; 
        border-radius: 30px 30px 0px 0px;
    }

    .legend-host
    {   
        background-color: white;
        color:black;
        min-height: 30%;  
        border-radius: 30px ;     
    }

    .description-legend-host
    {
        font-size: 5em;
    }

    .price-description-legend-host
    {
        font-size: 1em;
    }

    .rating
    {
        font-size: 1em;
    }

    .Price
    {
        font-size: 1em;
    }

 /* searchbar */

    .search-bar
    {
        display: flex;
        justify-content: start;
        margin: 0px 0px 0px 40px;
        width: 100%;
    }
    
    .icon-search
    {
        height: 100px;
        width: 100px;
        background-color: #F2F2F2;
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    
    form.search-bar input[type=text] 
    {
        height: 90px;
        width: 100%;
        margin: 0 0 0 0px;
        font-size: 1em;
        justify-content: start;
        border: 5px solid #F2F2F2;  
        border-right: none;
        border-left: none;
        background: #ffffff;
        font-weight: bold;
    }
    
    .submit
{   
    height: 100px;
    width: 100px;
    margin: 0 0 0 0px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; 
    border: none;
    border-radius: 25px;    
}

.search-result
{
   margin: 0 0 35px 35px;
   
}

.search-icon-result
{
    margin: 0px 20px 0 0;
}

.search-text-result
{
    font-size: 1.5em;
    margin: 0;
}

.search-header-title
{
    font-size: 1em;
}

.search-description-header
{
    font-size: 1em;
    margin: 0;
}

.title-filter
{
    font-size: 1em;
}

.search-filter
{
   display: flex;
   align-items: center;
   margin-right: 35px;
   border: 2px solid #d9d9d9;
   border-radius: 50px;
   margin-bottom: 16px;
   cursor: pointer;
   font-weight: bold;
}

.search-title-filter
{
   padding: 0 25px 0 25px;
}

.search-icon-filter
{
   background-color: #DEEBFF;
   color: #0065FC;
   border-radius: 100%;
   height: 90px;
   width: 90px;
   min-height: 35px;
   min-width: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
}
 /* end searchbar */
/* END Dekstop reduit */
}








