/* général */

*
{
    font-family: 'raleway';
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
}

body
{
    padding: 15px;
    margin: 0 auto;
}

.wrapper
{
    max-width: 1340px;   
    margin: 0 auto;     
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.nav-link:visited
{
    text-decoration: none;
    color: #000000;
}

/* header */
header
{
    display: flex;
    justify-content:space-between;
}

.logo
{
    height: 50px;     
}

nav ul li
{   
    display: inline-block;    
    color: black;
    text-decoration: none;
    margin-left: 65px;
}

.nav-link[data-active=true] 
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;
}

.nav-link:hover 
{
    color: #0065FC;
    padding-top: 1px;
    border-top: 3px solid #0065FC;
    line-height: 48px;   
}

.signup
{
    color: #0065FC;
    font-weight: bold;
}

.signup:hover
{
    border-top: 3px solid #0065FC;   
    line-height: 48px;  
}

/* search */
.description-header
{      
    flex-wrap: wrap;
}

.search-header-title
{
    font-size: 22px;
}

.search-description-header
{
 
}
/* search */


/*barre de recherche*/
.search-bar
{
    display: flex;
    justify-content: start;
}


.icon-search
{
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    padding: 16px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.search-bar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;  
    height: 50px;
    max-width: 420px;
    font-size: 17px;
    border: 1px solid rgb(250, 250, 250);    
    background: #ffffff;
    font-weight: bold;
}


.submit
{   
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}
/*barre de recherche*/

 /*Filter search*/
.filters
{   
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title-filter
{
    padding-right: 35px;
}

 .search-filter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
 }

 .search-title-filter
 {
    padding: 0 15px 0 15px;
 }

 .search-icon-filter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
 /*Filter search*/

/*Result search*/
 .search-result
 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }


 .search-icon-result
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }


 .search-text-result
 {
    padding-left: 10px;
    font-size: 14px;
 }
/*Result search*/


.main-host-and-popular
{
    display: flex;
    justify-content:space-between; 
    max-width: 70%;   
    margin: 0 auto;    
    padding: 0 0 0 0;    
    flex-wrap: wrap-reverse;     
}


.main-section-host
{
    width: 69%;     
    background-color: #F2F2F2 ;
    border-radius: 15px;      
    margin: none;  
    min-width:  380px;  
    margin-bottom: 20px;    
}

.main-section-popular
{
    max-width: 29%; 
    padding: 0px;
    background-color: #F2F2F2 ;
    margin-bottom: 20px;    
    border-radius: 15px;   
    min-width:  380px; 
    display: flex;    
    justify-content: space-around;    
}

.section-article-host
{
    padding: 0px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-article-popular
{
    padding: 0px;
   
}


.view-more

{
    display: flex;
    margin: 10px 0 35px 35px;
    align-content: left;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.view-more:hover 
{
    display: flex;
    color:#0065FC;
    padding-bottom: 1px;
    border-bottom: 3px solid #0065FC;
    line-height: normal; 
    max-width: 96px;
    align-content: left;
}

.header-host, .header-popular
{
    margin: 35px 0 0 35px;
}





/*Article Host*/

.article-host
{
    padding: 0;    
    width: 280px;
}

.figure-host
{   
    display: flex;
    flex-flow: column;   
    
    cursor: pointer;   
    margin: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;
    height: 200px;   
}

.img-figure-host
{    
    object-fit: cover;
    height: 60%; 
    border-radius: 15px 15px 0 0;
    
}

.legend-host
{   
    background-color: white;
    color:black;
    padding: 3px;
    height: 40%;   
    
    
    
}


.description-legend-host, .rating
{
    margin: 4px 12px 4px 12px;
}

/*Article Popular*/

.article-popular
{
    padding: 1%;    
    width: 90%;
    align-content: center;
    min-width:  380px; 
    
}

 
.icon-popular
{
    margin: 20px 35px 0 0;
    float: right;
    
}

.figure-popular
{   
    display: flex;
    flex-flow: wrap;   
    cursor: pointer;   
    margin: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002e;      
    height: 130px;
}

.img-figure-popular
{    
    object-fit: cover;
    width: 120px; 
    height: 120px;
    border-radius: 15px 0 0 15px;
   
}

.legend-popular 
{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.description-legend-popular 
{
    
    
    margin: 10px 0px 0px 12px;
}


.rating-popular
{
    color:#0065FC;
    display: flex;
    align-content: start;
    margin: 20px 0px 0px 12px;
}

.rating
{    
    color:#0065FC;
    display: flex;
    align-content: start;
}




