/* général */

*
{
    font-family: 'raleway';
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
}


.wrapper
{
    max-width: 1340px;    
    margin: 0 auto;
    padding: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.NavLink:visited
{
    text-decoration: none;
    color: #000000;
}

/* header */
header
{
    margin-top: 30px;
}

.logo
{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    float: left;
    clear: both;
}

nav
{
    float: right;
}

nav ul li
{
    
    display: inline-block;    
    color: black;
    text-decoration: none;
    margin-right: 65px;
}

.NavLink[data-active=true] 
{
    color: #0065FC;
    padding-top: 58px;
    border-top: 3px solid #0065FC;
    line-height: 48px;
}

.NavLink:hover 
{
    color: #0065FC;
    padding-top: 58px;
    border-top: 3px solid #0065FC;
    line-height: 48px;   
}

.Signup
{
    color: #0065FC;
    font-weight: bold;
}

.Signup:hover
{
    border-top: 3px solid #0065FC;
    padding-top: 58px;
    line-height: 48px;  
}

/* search */

.searchHeader
{
    clear: both;
    padding-bottom: 10px;
}

.searchHeaderTitle
{
    font-size: 22px;
}

.searchHeaderDescription
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconSearch
{
    float: left;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-right: none;
    padding: 16px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

form.searchBar input[type=text] 
{
    padding-top: 1px;
    padding-right: 0%;    
    height: 50px;
    max-width: 420px;
    font-size: 17px;
    border: 1px solid rgb(250, 250, 250);
    float: left;
    background: #ffffff;
    font-weight: bold;
}


.submit
{
    float: left;
    height: 50px;
    width: 140px;
    background: #0065FC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-left: none; /* Prevent double borders */
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

 /* filtre search*/
.Filters
{
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.FiltersTitle
{
    padding-right: 35px;
}

 .searchFilter
 {
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
 }

 .searchFilterTitle
 {
    padding: 0 15px 0 15px;
 }

 .iconSearchFilter
 {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    min-height: 35px;
    min-width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
 }

 .iconSearchResult
 {
    background-color: white;
    border: 3px solid #F2F2F2;
    color: #0065FC;
    border-radius: 100%;
    min-height: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center; 
 }

 .searchResult
 {
    display: flex;
    align-items: center;
    margin-right: 32px;
    border-radius: 32px;
    margin-bottom: 16px;
    transition-duration: 0.1s;  
 }

 .searchResultText
 {
    padding-left: 10px;
    font-size: 14px;
 }

/* host */
.host
{
    clear: both;
    flex-direction: wrap;
    max-width: 1340px;    
    margin: 0 auto;
    padding: 0;
}



 /* Host Popular */
 .PopularTitleHeader
 {
    clear: both;
    float: left;
    margin: 1px auto auto 30px;   
 }

 .wrapperPopular
 {
    float: right;
    width: 420px;
    height: 600px;    
    background-color: #F2F2F2 ;
    border-radius: 15px;
 }

 /* Host Main */
 .hostTitleHeader
{
    clear: both;
    float: left;
    margin: 1px auto auto 30px;  
}

.wrapperHost
{
    float: left;
    width: 880px;  
    height: 600px;  
    background-color: #F2F2F2 ;
    border-radius: 15px;
}



