/* général */

* {
	font-size: 1em;
	font-family: "raleway";
}

body {
	max-width: 1450px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.main-site {
	padding: 0px 50px 0px 50px;
}

/* header */
header {
	display: flex;
	justify-content: space-between;
}

.logo {
	height: 48px;
	margin: 20px 0px 40px 0px;
}

#main-nav {
	display: flex;
}

nav {
	display: inline-block;
	color: #0065fc;
}

.nav-link-host {
	color: #0065fc;
	border-top: 3px solid #0065fc;
	margin-right: 65px;
	line-height: 100px;
}

.nav-link-activity {
	text-decoration: none;
	color: #000000;
	line-height: 106px;
	margin-right: 65px;
}

.nav-link-activity:hover {
	color: #0065fc;
	border-top: 3px solid #0065fc;
	line-height: 101px;
}

.signup {
	color: #0065fc;
	font-weight: bold;
	line-height: 106px;
}

.signup:hover {
	border-top: 3px solid #0065fc;
	line-height: 101px;
}

/* search */
.description-header {
	flex-wrap: wrap;
}

.search-description-header {
	font-weight: normal;
}
/* search */

/*barre de recherche*/
.search-bar {
	display: flex;
	justify-content: start;
}

.search-header-title {
	font-size: 1.3em;
}

.icon-search {
	height: 54px;
	width: 50px;
	background-color: #f2f2f2;
	border-right: none;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

form.search-bar input[type="text"] {
	height: 50px;
	max-width: 420px;
	border: 1px solid rgb(250, 250, 250);
	background: #ffffff;
	font-weight: bold;
	padding-left: 20px;
}

.submit {
	height: 54px;
	background: #0065fc;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border-left: none;
	border: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 0px 20px 0px 20px;
}

.glass {
	display: none;
}
/*barre de recherche*/

/*Filter search*/
.filters {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	margin-top: 30px;
}

.search-filter {
	margin-left: 15px;
	display: flex;
	align-items: center;
	border: 2px solid #d9d9d9;
	border-radius: 32px;
	margin-bottom: 16px;
	cursor: pointer;
	font-weight: bold;
}

.search-filter:hover {
	background-color: #0065fc;
	color: white;
}

.search-title-filter {
	padding: 0 15px 0 15px;
}

.search-icon-filter {
	background-color: #deebff;
	color: #0065fc;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	min-height: 35px;
	min-width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*Filter search*/

/*Result search*/
.search-result {
	display: flex;
	justify-content: left;
	align-items: center;
	border-radius: 32px;
	margin-right: 32px;
	margin-bottom: 16px;
}

.search-icon-result {
	background-color: white;
	border: 3px solid #f2f2f2;
	color: #0065fc;
	border-radius: 100%;
	min-height: 26px;
	min-width: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-text-result {
	margin-left: 10px;
}

/*Result search*/

#main-host-and-popular {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	margin-bottom: 10px;
}

/* Host */

.main-section-host {
	background-color: #f2f2f2;
	border-radius: 15px;
	min-width: 350px;
	flex: 66%;
	margin-right: 1%;
}

.title-header-host {
	margin: 40px 0px 0px 40px;
	font-size: 1.1em;
}

.section-article-host {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px 15px 25px 25px;
}

/* article-host */

.article-host {
	flex: 1;
	width: 290px;
}

.figure-host {
	margin: 15px 15px 15px 15px;
	display: flex;
	flex-flow: column;
	cursor: pointer;
	height: 220px;
	padding: 1%;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 16px #0000002e;
}

.img-figure-host {
	object-fit: cover;
	min-height: 65%;
	border-radius: 15px 15px 0 0;
}

.legend-host {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: white;
	color: black;
	min-height: 35%;
	border-radius: 15px;
}

.description-legend-host {
	margin: 5px 0px 5px 15px;
}

.price-description-legend-host {
	margin: 0px 0px 5px 15px;
}

.rating {
	display: flex;
	align-content: start;
	position: relative;
	bottom: 14px;
	left: 15px;
}

.y-rating {
	color: #0065fc;
	display: inline-block;
	vertical-align: top;
	display: flex;
}

.n-rating {
	color: #d0d0d0;
	display: inline-block;
	vertical-align: top;
	display: flex;
}

/* end article-host */

.view-more {
	text-decoration: none;
	font-weight: bold;
	color: black;
	line-height: 16px;
	margin: 10px 15px 0px 45px;
}

.view-more:hover {
	color: #0065fc;
	border-bottom: 3px solid #0065fc;
	line-height: 13px;
	max-width: 96px;
}

/* End Host */

/* Popular */

.main-section-popular {
	min-width: 370px;
	background-color: #f2f2f2;
	border-radius: 15px;
	margin-left: 1%;
	flex: 30%;
	min-width: 400px;
	margin: 0 auto;
}

.title-header-popular {
	margin: 40px 0px 0px 40px;
	font-size: 1.1em;
}

.icon-popular {
	float: right;
	margin: 40px 40px 0px 0px;
}

/*Article Popular*/

.article-popular {
	margin-bottom: 40px;
	min-width: 340px;
}

.section-article-popular {
	margin: 40px;
}

.figure-popular {
	margin: 15px 5px 15px 0px;
	display: flex;
	flex-flow: wrap;
	cursor: pointer;
	background-color: white;
	padding: 1%;
	border-radius: 15px;
	box-shadow: 0 0 16px #0000002e;
	min-width: 300px;
}

.img-figure-popular {
	object-fit: cover;
	width: 145px;
	height: 150px;
	border-radius: 15px 0 0 15px;
}

.legend-popular {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	position: relative;
}

.description-legend-popular {
	margin: 15px 0px 0px 15px;
}

.price-description-legend-popular {
	margin: 0px 0px 0px 15px;
}

.rating-popular {
	color: #0065fc;
	display: flex;
	align-content: start;
	position: absolute;
	top: 115px;
	left: 20px;
}

/* End Article Popular*/
/* End Popular */

/*Activity */
.main-section-activity {
	background-color: white;
	border-radius: 15px;
}

.title-header-activity {
	margin: 50px 0px 10px 10px;
	font-size: 1.1em;
}

.section-article-activity {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex: 100%;
	margin-bottom: 30px;
}

.article-activity {
	width: 330px;
}

.figure-port,
.figure-calanques {
	height: 450px;
}

.figure-activity {
	margin: 15px 15px 15px 15px;
	display: flex;
	flex-flow: column;
	cursor: pointer;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 0 16px #0000002e;
}

.figure-pomegues {
	height: 250px;
	margin-bottom: 50px;
}

.figure-frioul {
	height: 150px;
}

.figure-dame,
.figure-longchamp {
	height: 200px;
}

.figure-dame {
	margin-bottom: 50px;
}

.img-figure-activity {
	object-fit: cover;
	border-radius: 15px 15px 0 0;
	width: 100%;
}

.img-figure-port,
.img-figure-calanques {
	height: 400px;
}

.img-figure-pomegues {
	height: 200px;
}

.img-figure-frioul {
	height: 100px;
}

.img-figure-dame,
.img-figure-longchamp {
	height: 150px;
}

.legend-activity {
	display: flex;
	flex-direction: column;
	flex: 1;
	background-color: white;
	color: black;
	height: 50px;
	border-radius: 15px;
}

.description-legend-activity {
	margin: 5px 0px 5px 15px;
	display: flex;

	justify-content: start;
}

/* end article-activity */

.main-about {
	display: flex;
	background-color: #f2f2f2;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 350px;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	flex: 1;
}

.about-ul {
	display: flex;
	flex-flow: column;
}

.about-a {
	color: black;
	margin-bottom: 15px;
	margin-left: 15px;
}

.about-a:hover {
	color: #0065fc;
}

.about-h3 {
	margin-bottom: 15px;
	margin-left: 15px;
}

@media (max-width: 1550px) {
	.main-section-popular {
		min-width: 350px;
		flex: 100%;
		margin-right: 0;
		margin-top: 1%;
	}

	.section-article-popular {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.article-popular {
		width: 80%;
		margin: 0;
		padding: 5px;
	}

	.img-figure-popular {
		width: 50%;
		height: 150px;
	}

	.main-section-host {
		width: 100%;
		margin: 0;
		margin-right: 0;
		margin-top: 1%;
		padding-bottom: 20px;
	}

	.section-article-host {
		margin: 0px 50px 0px 50px;
	}

	.article-host {
		width: 330px;
	}

	.figure-host {
		min-width: 310px;
	}

	.main-section-activity {
		min-width: 350px;
		flex: 100%;
	}

	.title-header-activity {
		margin-left: 25px;
	}

	.section-article-activity {
		justify-content: center;
		justify-content: space-around;
	}

	.article-activity {
		min-width: 300px;
	}

	.figure-activity {
		min-width: 300px;
	}

	.main-about {
		padding-right: 30px;
	}
}

@media only screen and (max-width: 1450px) {
	.main-site {
		padding: 0px;
	}

	header {
		display: flex;
		flex-wrap: wrap;
	}

	#search {
		margin-left: 50px;
		margin-top: 50px;
	}

	.logo {
		margin: 20px 0px 0px 40px;
	}

	.signup {
		font-weight: bold;
		font-size: 1em;
		color: #0065fc;
		font-weight: bold;
		position: absolute;
		top: 0px;
		right: 0px;
		margin-top: 30px;
		margin-right: 50px;
		line-height: 20px;
	}

	.signup:hover {
		border-top: 0px;
		border-bottom: 3px solid #0065fc;
		line-height: 20px;
	}

	#main-nav {
		width: 100%;
	}

	.nav-link-host {
		color: #0065fc;
		border-top: none;
		border-bottom: 4px solid #0065fc;
		margin-right: 0px;
		text-align: center;
		font-size: 1em;
		font-weight: bold;
		width: 50%;
		line-height: 50px;
	}

	.nav-link-activity {
		color: black;
		border-top: none;
		border-bottom: 4px solid #f0f0f0;
		margin-right: 0px;
		text-align: center;
		font-size: 1em;
		width: 50%;
		line-height: 50px;
	}

	.nav-link-activity:hover {
		color: #0065fc;
		border-top: none;
		border-bottom: 4px solid #0065fc;
		line-height: 50px;
	}

	.main-section-activity {
		margin: 0 auto;
	}

	.section-article-activity {
		width: 100%;
		margin: 0 auto;
	}

	.article-activity {
		margin: 0 auto;
		min-width: 0px;
		width: 75%;
	}

	.article-frioul,
	.article-longchamp {
		margin-top: -21px;
	}

	.activity-2-3,
	.activity-5-6 {
		margin: 0 auto;
		width: 100%;
		align-content: center;
	}

	.figure-activity {
		height: 200px;
		min-width: 300px;
	}

	.img-figure-activity {
		height: 150px;
	}

	.legend-activity {
		height: 50px;
	}

	.description-legend-activity {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.main-about {
		padding: 20px 50px 20px 50px;
	}
	.about-a {
		display: flex;
		flex-flow: column;
	}
}

@media only screen and (max-width: 700px) {
	.main-about {
		padding-left: 20px;
	}
	.about-a {
		display: flex;
		flex-flow: column;
		margin-right: 160px;
	}
}

@media only screen and (max-width: 500px) {
	body {
		width: 100%;
	}

	.main-site {
		padding: 0px;
	}

	#search {
		margin-left: 5px;
	}

	header {
		display: flex;
		flex-wrap: wrap;
	}

	.search-bar {
		display: flex;
		justify-content: start;
	}

	.icon-search {
		margin-left: 20px;
		width: 54px;
		border-top-left-radius: 11px;
		border-bottom-left-radius: 11px;
	}

	form.search-bar input[type="text"] {
		height: 48px;
		font-size: 1em;
		justify-content: start;

		border-right: none;
		border-left: none;
		background: #ffffff;
		font-weight: bold;
	}

	.submit {
		display: none;
	}

	.glass {
		display: block;
		height: 54px;
		width: 54px;
		background: #0065fc;
		color: white;
		font-weight: bold;
		cursor: pointer;
		border: none;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 0px 20px 0px 20px;
	}

	.search-header-title {
		margin-top: 20px;
		margin-left: 20px;
	}

	.search-description-header {
		margin-left: 20px;
	}

	.search-icon-result {
		margin-left: 20px;
	}

	.search-text-result {
		font-size: 0.8em;
	}

	.title-filter {
		font-size: 1em;
		margin-left: 20px;
	}

	.main-section-popular {
		border-radius: 0px;
		width: 100%;
		justify-content: space-around;
	}

	.title-header-popular {
		margin-left: 25px;
	}

	.article-popular {
		margin: 0px -5px 5px -5px;
		width: 100%;
	}

	.figure-popular {
		margin: 0px -5px 5px -5px;
		width: 100%;
	}

	.main-section-host {
		background-color: white;
	}

	.title-header-host {
		margin-left: 25px;
	}

	.section-article-host {
		margin: 0px;
	}

	.article-host {
		margin: 0px -15px -15px -20px;
		min-width: 100%;
	}

	.figure-host {
		height: 200px;
		border-radius: 15px;
	}

	.img-figure-host {
		object-fit: cover;
		min-height: 68%;
		border-radius: 15px 15px 0px 0px;
	}

	.legend-host {
		min-height: 32%;
		border-radius: 30px;
	}

	.section-article-activity {
		width: 100%;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.title-header-activity {
		margin-left: 25px;
	}

	.article-activity {
		width: 100%;
	}

	.figure-activity {
		height: 200px;
	}

	.img-figure-activity {
		height: 150px;
	}

	.description-legend-activity {
		display: flex;
		margin-top: 10px;
		justify-content: start;
	}

	.about-a {
		margin-right: 80px;
	}
}
